@page
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model SigninModel
@{
    ViewData["Title"] = "Log in";
}
    <div class="brand-header-block">
        <ul class="container">
            @*<li><a asp-area="" asp-controller="Account" asp-action="Register">REGISTER</a></li>*@
            <li class="active" style="margin-right: 65px;">LOGIN</li>
        </ul>
    </div>
    <div class="container account-login-container">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4>ARE YOU REGISTERED?</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="LoginDetails.Email" class="control-label form-label"></label>
                            <input asp-for="LoginDetails.Email" class="form-control form-input form-input-center" />
                            <span asp-validation-for="LoginDetails.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LoginDetails.Password" class="control-label form-label"></label>
                            <input asp-for="LoginDetails.Password" class="form-control form-input form-input-center" />
                            <span asp-validation-for="LoginDetails.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="LoginDetails.RememberMe">
                                    <input asp-for="LoginDetails.RememberMe" />
                                    @Html.DisplayNameFor(m => m.LoginDetails.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-brand btn-brand-big">&nbsp;LOG IN&nbsp;</button>
                        </div>
                        <p>
                            <a asp-page="/Account/Register" 
                               asp-route-returnurl="@ViewData["ReturnUrl"]" class="text">Register as a new user?</a>
                        </p>
                        <p>
                            Note that for demo purposes you don't need to register and can login with these credentials:
                        </p>
                        <p>
                            User:     <b>demouser@microsoft.com</b>
                        </p>
                        <p>
                            Password: <b>Pass@word1</b>
                        </p>
                    </form>
                </section>
            </div>
        </div>
    </div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
