@namespace eShopOnBlazorWasm.Features.Applications.Components

@using eShopOnBlazorWasm.Components
@using eShopOnBlazorWasm.Features.Bases

@inherits BaseComponent

<nav class="navbar fixed-bottom navbar-light bg-light">
  <BlazorLocation TestId="BlazorLocation" />
  <span>Version:@Version</span>
</nav>
