@namespace eShopOnBlazorWasm.Features.Applications.Components
@using eShopOnBlazorWasm.Pages
@using Microsoft.AspNetCore.Components.Routing

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </li>
    <li class="nav-item">
      <NavLink class="nav-link" href="@CounterPage.Route">
        <span class="oi oi-plus" aria-hidden="true"></span> Counter
      </NavLink>
    </li>
    <li class="nav-item">
      <NavLink class="nav-link" href="/swagger/" target="_blank">
        <span class="oi oi-external-link" aria-hidden="true"></span> Api Docs
      </NavLink>
    </li>
    <li class="nav-item">
      <NavLink class="nav-link" href="@Pages.Catalog.Index.Route">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Index
      </NavLink>
    </li>
    <li class="nav-item">
      <NavLink class="nav-link" href="@Pages.Catalog.Create.Route">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Create
      </NavLink>
    </li>
  </ul>
