@namespace eShopOnBlazorWasm.Features.Applications.Components
@using eShopOnBlazorWasm.Features.Bases
@inherits BaseComponent

<nav class="navbar-collapse navbar-dark navbar">
  <div class="@NavMenuCssClass navbar-collapse">
    <NavLinks />
  </div>
</nav>
