@namespace eShopOnBlazorWasm.Pages

@using eShopOnBlazorWasm.Features.Bases
@using eShopOnBlazorWasm.Components

@page "/"

@inherits BaseComponent

<h1 data-qa="HomeHeader">@ApplicationState.Name</h1>

<a href="https://timewarpengineering.github.io/blazor-state/">Blazor State Documentation</a>
<br />
<br />
Welcome to your new app with Blazor-State management with an easily extensible pipeline utilizing <a href="https://github.com/jbogard/MediatR">MediatR.</a>
<br />
<br />
<a href="https://github.com/TimeWarpEngineering/blazor-state">Blazor State GitHub project</a>
<br />
<a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en">Redux Dev Tools Chrome Extension </a>

<SurveyPrompt Title="How is Blazor working for you?" />
