@using BlazorAdmin.Services

@inject AuthService Auth
@inherits BlazorAdmin.Helpers.BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
        await Auth.RefreshLoginInfo();
        CallRequestRefresh();
        await base.OnInitializedAsync();
    }
}
