@using System.Threading.Tasks
@using BlazorAdmin.Services
@using System
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

@inject AuthService Auth

<div class="sidebar">
    <NavMenu Change="AfterRender" />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    protected bool AfterRender { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        AfterRender = !AfterRender;
        return base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        await Auth.RefreshLoginInfo();
        await base.OnInitializedAsync();
    }
}
