@page
@{
    ViewData["Title"] = "Admin - Edit Catalog";
    @model EditCatalogItemModel
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img class="esh-catalog-thumbnail" src="@Model.CatalogModel.PictureUri" />
            <form method="post">
                <div class="form-group">
                    <label asp-for="CatalogModel.Name"></label>
                    <input asp-for="CatalogModel.Name" class="form-control" />
                    <span asp-validation-for="CatalogModel.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CatalogModel.Price"></label>
                    <input asp-for="CatalogModel.Price" class="form-control" />
                    <span asp-validation-for="CatalogModel.Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CatalogModel.Id"></label>
                    <input asp-for="CatalogModel.Id" readonly class="form-control" />
                    <span asp-validation-for="CatalogModel.Id"></span>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Save" class="esh-catalog-button" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}