@namespace eShopOnBlazorWasm.Pages.Catalog
@using eShopOnBlazorWasm.Features.Bases
@inherits BaseComponent
@page "/Catalog/Create"

<h1>CatalogItem Create Page</h1>

<eShopOnBlazorWasm.Features.CatalogItems.Components.Create />