@page "/login"
@using System.Threading.Tasks
@using BlazorAdmin.Services
@using Microsoft.AspNetCore.Components

@inject AuthService AuthService
@inject NavigationManager NavigationManager
@inject SecureHttpClient SecureHttp

<div class="container">
    @if (ShowLoginFailed)
    {
        <div class="alert alert-danger">
            Login attempt failed.
        </div>
    }
    <h1> RegExlib Login</h1>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" class="form-control" @bind="@AuthRequest.Username" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control" @bind="@AuthRequest.Password" />
    </div>
    <button class="btn btn-primary" @onclick="@LoginUser">Login</button>
</div>

@code {

    protected AuthRequest AuthRequest { get; set; } = new AuthRequest();
    protected bool ShowLoginFailed { get; set; }

    protected async Task LoginUser()
    {
        await AuthService.Login(AuthRequest);

        if (AuthService.IsLoggedIn)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            ShowLoginFailed = true;
        }
    }
}
