@model BasketComponentViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "My Basket";
}

<a class="esh-basketstatus "
   asp-area=""
   asp-controller="Basket"
   asp-action="Index">
    <div class="esh-basketstatus-image">
        <img src="@Configuration.GetSection("CatalogBaseUrl").Value/images/cart.png" />
    </div>
    <div class="esh-basketstatus-badge">
        @Model.ItemsCount
    </div>
</a>
