@namespace eShopOnBlazorWasm.Components
@inherits BaseComponent
@using eShopOnBlazorWasm.Features.Bases;

<div id="@Id" data-qa="@TestId">
  <button class="btn btn-primary" @onclick="ButtonClick">Reset Store</button>
</div>
