name: eShopOnWeb - Code Index

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x

    - name: Build with dotnet
      run: dotnet build ./eShopOnWeb.sln --configuration Release /bl

    - uses: microsoft/RichCodeNavIndexer@v0.1
      with:
        repo-token: ${{ github.token }}
