name: eShopOnWeb Build and Test

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true

    - name: Build with dotnet
      run: dotnet build ./eShopOnWeb.sln --configuration Release
    
    - name: Test with dotnet
      run: dotnet test ./eShopOnWeb.sln --configuration Release
      
    - name: Publish with dotnet
      run: dotnet publish ./src/Web/Web.csproj --configuration Release --output ${{ runner.temp }}/publish

    - name: Upload artefact
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: ${{ runner.temp }}/publish

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:

    - name: Download artefact
      uses: actions/download-artifact@v2
      with:
        name: build
        path: ${{ runner.temp }}/build